body{
    background-color: #F44336;
}

.iconButton{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: black
}

.iconButton:focus{
    border-color: transparent;
    outline: none;
}

.floatRight{
    float: right;
}

.title{
    font-family: 'Permanent Marker', cursive;
    text-align: center;
    color: white;
    font-size: 80px;
}

.legal{
    text-align: center;
    margin-top: 5rem;
    color: white;
}

@media screen and (max-width: 524px) {
    .title{
      font-size: 30px;
    }

  }