body{
    background-color: #F44336;
}

.iconButton{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    color: black
}

.floatRight{
    float: right;
}