.removeIcon{
    float: right;
    cursor: pointer;
    color: rgb(226, 43, 43);
    font-size: 1.3rem;
}

.doneIcon{
    cursor: pointer;
    color: green;
    font-size: 1.3rem;
    margin-right: 2rem;
}

.editIcon{
    float: right;
    cursor: pointer;
    color: rgb(219, 219, 219);
    margin-right: 2rem;
    margin-top: 0.1rem;
    font-size: 1.3rem;
}

.notDoneIcon{
    cursor: pointer;
    color: rgb(161, 161, 161);
    font-size: 1.3rem;
    margin-right: 2rem;
}

.doneItem{
    background-color: rgb(226, 226, 226);
}

.description{
    color: grey;
    font-size: 12px;
}

.align{
    margin-top: auto;
    margin-bottom: auto;
}

.icons{
    text-align: center;
}

@media screen and (max-width: 575px) {
    .removeIcon{
        float: none;
        margin-right: 2rem;
    }

    .editIcon{
        float: none;
    }

    .taskText{
        margin-top: 2rem;
        margin-bottom: 2rem;
    }
  }