.roundButton{
    margin-top: 5rem;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 1px solid red;
    background-color: white;
    border-color: transparent;
    outline: none;
    -webkit-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.75);
}

.roundButton:focus{
    border-color: transparent;
    outline: none;
}

.collapseButton{
    text-align: center;
}

.list{
    text-align: left;
    margin-top: 1.5rem;
}

.todoContainer{
    max-width: 480px;
    -webkit-box-shadow: inset 0px 2px 4px -2px rgb(34, 34, 34), inset 0px -2px 4px -2px rgb(34, 34, 34);
    -moz-box-shadow: inset 0px 2px 4px -2px rgb(34, 34, 34), inset 0px -2px 4px -2px rgb(34, 34, 34);
    box-shadow: inset 0px 2px 4px -2px rgb(34, 34, 34), inset 0px -2px 4px -2px rgb(34, 34, 34);
    margin-bottom: 3rem;
}

@media screen and (max-width: 524px) {
    .addTask{
      margin-top: 1rem;
    }
  }